  <!-- ====== start footer ====== -->
    <footer class="footer-style1">
        <div class="container">
        


            <div class="foot text-center py-4 border-1 border-top brd-gray">
                <p class="fsz-13px color-666">© 2023 Copyrights by <a href="#" class="color-000">The Daily Chronicle</a>. All Rights
                    Reserved. Developed by <a href="#" class="color-000 text-decoration-underline">ThemesCamp</a></p>
            </div>
        </div>
        <!-- ====== start to top button ====== -->
        <a href="#" class="to_top">
            <i class="la la-angle-up"></i>
        </a>
        <!-- ====== end to top button ====== -->
    </footer>
    <!-- ====== end footer ====== -->

    <!-- ====== start to top button ====== -->
    <!-- <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 220.587;"></path></svg>
    </div> -->
    <!-- ====== end to top button ====== -->

    <!-- ====== request ====== -->
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/jquery.fancybox.js"></script>
    <script src="/static/js/lity.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.js"></script>
    <!-- <script src="assets//static/js/lib/pace.js"></script> -->
    <script src="/static/js/back-to-top.js"></script>
    <script src="/static/js/parallaxie.js"></script>
    <script src="/static/js/main.js"></script>




</body></html>